/* Algemene Styling */

body {
    font-family: Montserrat;
    background-color: #1D2730;
    color: #efefef;
    margin: 0;
}

h1 {
   font-size: 50px;
}

h2 {
   font-size: 30px;
   margin: 0;
}

h3 {
    font-size: 21px;
    margin-bottom: 0;
}

hr {
    background-color: #029F82;
    border: none;
    height: 5px;
}

button {
    background-color: #029F82;
    width: 150px;
    text-align: center;
    color: #efefef;
    padding: 8px;
    border: 2px solid #efefef;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.4s;
}

button:hover {box-shadow: 0px 2px 9px 0px #000000ad;}

/* Banner Styling [Home] */
    
#banner {
    width: 100%;
    height: 700px;
    background-image:url("header.jpg");
    background-size: cover;
    color: #EFEFEF;
    margin-bottom: 50px;
}

#filter {
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 700px;
    text-align: left;    
}

.bannerText {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 8%;
}

.bannerText p {font-size: 23px; line-height: 35px; padding: 20px 0;}

@media screen and (max-width:799px) and (min-width:650px) {
    .bannerText {padding-right: 8%;}
    .bannerText h1 {font-size: 40px;}
    .bannerText p {font-size: 20px;}
}

@media screen and (max-width:649px)and (min-width:575px) {
    .bannerText h1 {font-size: 35px;}
    .bannerText p {font-size: 18px;}
}

@media screen and (max-width:574px) and (min-width:500px) {
    .bannerText h1 {font-size: 30px;}
    .bannerText p {font-size: 16px;} 
    .button{width: 180px; height: 45px; font-size: 20px;}
}

@media screen and (max-width:499px) and (min-width:410px) {
    .bannerText {padding-right: 4%;}
    .bannerText h1 {font-size: 28px;}
    .bannerText p {font-size: 14px;} 
    .button {width: 180px; height: 45px; font-size: 20px;}
}

@media screen and (max-width:409px) {
    .bannerText {padding-right: 4%;}
    .bannerText h1 {font-size: 20px;}
    .bannerText p {font-size: 12px;} 
    .button {width: 180px; height: 45px; font-size: 20px;}
}

/* Richtlijnen Styling [Home] */

#contentContainer {
    width: 100%;
}

#richtlijnenDiv {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    color: #efefef;
}

#richtlijnenDiv p {display: inline-block; margin-top: 10px; margin-bottom: 30px;}
#richtlijnenDiv hr {width: 115px; float: left;}

#richtlijnenGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

#richtlijnImageDiv {
   top: 0;
   transform: none;
}

#richtlijnImageDiv img {height: auto; width: 100%;}

#richtlijnTextDiv {
    margin: 50px 0;
}

@media (max-width: 1700px) {
    #imageDiv {top: 50%; transform: translateY(50px);}
}

@media (max-width: 1000px) {
    #richtlijnenGrid {grid-template-columns: repeat(1, 1fr); grid-gap: 20px;}
}

/* Nieuws Styling [Home] */

#newsContainer {
   width: 80%;
   margin: 0 auto;
}

#newsGrid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 50px;
}

.newsPost {
   background-color: #efefef;
   color: #1D2730;
}

.articleThumbnail {
   max-height: 250px;
}

.articleThumbnail img {width: 100%; height: auto; max-height: 250px;}

.articleContent {
   padding: 0 20px 20px;
}

.articleContent p {font-size: 14px; display: inline-block; margin-top: 5px;}
.articleContent hr {width: 100px; float: left;}

.readMore {
   display: block !important;
   font-size: 16px !important;
   margin: 5px 0;
   text-decoration: underline;
}

.bron {
   margin: 10px 0 0 !important;
   font-size: 12px !important;
   color: #4a4a4ae8;
}

.newsPost a {
   text-decoration: none;
   color: #4a4a4ae8;
   transition: all 0.4s;
}

.newsPost a:hover {color: #029F82;}

@media (max-width: 1400px) {
   #newsGrid {grid-gap: 20px;}
}

@media (max-width: 1200px) {
   #newsGrid {grid-template-columns: repeat(2, 1fr); grid-gap: 20px;}
}

@media (max-width: 700px) {
   #newsGrid {grid-template-columns: repeat(1, 1fr); grid-gap: 20px;}
}

.newsHighlightsTitle {
   margin-bottom: 50px;
}

.newsHighlightsTitle hr {height: 5px; width: 100px;}
.newsHighlightsTitle h2 {text-align: center; color: #efefef;}

.goNewsPage p {
   text-align: center;
   font-size: 19px;
   margin-top: 30px;
}

.goNewsPage a {
    color: #efefef;
    transition: all 0.4s;
}