/* Header Styling */

#headerContainer {
    width:100%;
    height: 100px;
    background-color:#1D2730;
}

.headerContent {
    width: 85%;  
    height: 100%;
    margin: 0 auto;
}

.headerLogo {
    display: grid;
    grid-area: headerLogo;
    width:20%;
    height: 100%;
    float: left;
}
.headerLogo img {height:40%;}

.headerMenu {
    display: grid;
    grid-area: headerMenu;
    width: 80%;
    height: 100%;
    float:right;
}
.headerMenu ul {list-style-type: none; margin: 0; padding: 0; float:right;}
.headerMenu li {float: left; padding:36px 0 36px 115px; font-size: 24px;}
.headerMenu a {text-decoration: none; color:#efefef; transition: all 0.4s;}
.headerMenu a:hover {text-shadow: 0 0 10px #efefef;}

.headerGrid {
    display: grid;
    width:100%;
    grid-template-columns:  repeat(2, 1fr);
    grid-auto-rows: 100px;
    grid-column-gap: 20px;
    grid-template-areas: "headerLogo headerMenu";
  }

@media screen and (max-width: 1024px) /* on tablet an smaller */ {

    .headerGrid {
        display: grid;
        width:100%;
        grid-auto-rows: 100px;
        grid-column-gap: 20px;
        grid-template-areas: "headerLogo" "headerMenu";
    }

    .headerLogo {
        margin-top: 20px;
        text-align: center;
    }
    .headerLogo img {max-width: 50%;}

    .headerMenu {
        margin: 0 auto;
    }
    .headerMenu li {padding: 36px 60px !important; font-size: 34px !important;}

}

/* Footer Styling */

#footerContainer {
    width:100%;
    height: minmax(250px auto);
    background-color:#192127;
    border-top: 2px solid #029F82;
    margin-top: 50px;
    color: #efefef;
}
#footerContainer hr {width: 50px; float: left; margin: 0 4px 20px 4px;}
#footerContainer h3 {font-size: 20px; margin: 20px 4px 4px 4px;}

.footerContent {
    width: 80%;
    margin: 50px auto 30px; 
    font-size: 14px;
}

.footerContentAboutUs{
    grid-area: contentAboutUs;
    width: 100%;
    padding: 0;
}
.footerContentAboutUs img {height: 30%; margin-top: 10px;}
.footerContentAboutUs p {text-align: justify;}

.footerContentContact {
    grid-area: contentContact;
}
.footerContentContact li {list-style: none; clear: left;}

.footerContentMenu {
    grid-area: contentMenu;
}
.footerContentMenu ul {clear:left; list-style: none; margin: 5px 0 0 0;}
.footerContentMenu li {margin: 0 0 7px 0;}
.footerContentMenu a {text-decoration: none; color:#efefef; transition: all 0.4s;}
.footerContentMenu a:hover {text-shadow: 0 0 10px #efefef;}

.centerFooterContent {
    margin: 0 auto;
    width: 60%;
}

.copyrightContent {
    width: 100%;
    height: 55px;
    background-color: #151B20;
}
.copyrightContent p {text-align: center; font-size: 12px; padding: 20px 0 20px 0; margin: 0;}

@media screen and (max-width: 750px) /* on mobile*/ {
    .footerGrid {
        display: grid; 
        grid-auto-rows: 200px; 
        grid-column-gap: 20px; 
        height:100%; 
        grid-template-areas: "contentAboutUs" "contentContact" "contentMenu";
    }
}

@media screen and (min-width:750px) /* on tablet*/ {
    .footerGrid {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-auto-rows: 200px; 
        grid-column-gap: 20px; 
        height:100%; 
        grid-template-areas: "contentAboutUs contentAboutUs" "contentContact contentMenu";
    }
}

@media screen and (min-width: 1250px) /* on desktop/laptop*/ {
    .footerGrid {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-auto-rows: 200px; 
        grid-column-gap: 20px; 
        height:100%; 
        grid-template-areas: "contentAboutUs contentContact contentMenu";
    }
}